{
  "fontPath": "./fonts/JetBrainsMono-Bold.ttf",
  "fontName": "Jetbrainsmono Bold",
  "fontSize": 16,
  "zoomStep": 10,
  "readingStyle": 0,
  "showImagesInFileBrowser": false,
  "edgeTurnHoldDurationMs": 300,
  "edgePageTurnsMode": "automatic",
  "showDocumentMinimap": true,
  "keepPanningPosition": false,
  "lastBrowseDirectory": "/path/to/library"
}
